<div class="col s12 m4 l4 books">
<<<<<<< HEAD
    <div class="card" data-id={{id}} data-title={{title}}>
=======
    <div class="card" data-id={{id}} data-title={{title}} data-author={{author}} data-subject={{subject}}>
>>>>>>> 087d0dbbe90b2cfe040610401607681fa94913a5
        <div class="card-image">
            <img src="{{photoURL}}">
            <span class='card-title'>
                <span id='title'>{{title}}</span> <br />
                <span id='author'>{{author}}</span>
            </span>

            <div class='rating'></i>
                <span></span></div>
        </div>
        <div class="card-action">
            <a href='{{vendorURL}}' class='waves-effect'><i class="material-icons">add_shopping_cart</i></a>
            <a href='#' class='waves-effect, favorite-button' style="float: right"><i class='material-icons'>favorite</i></a>
        </div>
    </div>
</div>
