<div class="col s12 m4 l4 books">
    <div class="card" data-title='{{title}}' data-price='{{price}}' data-author='{{author}}' data-subject='{{subject}}' data-date='{{date}}'></div>
        <div class="card-image">
            <img src="{{photoURL}}">
            <span class="card-title">{{title}}</span>
            <div class='rating'><i class='material-icons'>star</i>
                <span>${{price}}</span></div>
        </div>
        <div class="card-action">
            <a href='#' class='waves-effect '><i class="material-icons">add_shopping_cart</i></a>
            <a href='#' class='waves-effect' style="float: right"><i class='material-icons'>favorite</i></a>
        </div>
    </div>
</div>